<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">This is <i>not</i> the page you are looking for.</p><br>
            <img src="https://th.bing.com/th/id/OIP.JK3ymLApXWeF4sOaI1AAYgHaDt?w=335&h=175&c=7&r=0&o=5&pid=1.7" alt="Obi-Wan Kenobi">
        </LayoutView>
    </NotFound>
</Router>
